.mentor-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.mentor-box {
  width: 500px; /* Adjust the width as needed */
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.mentor-image img {
  max-width: 130px; /* Adjust the image width as needed */
  height: auto;
  float: left;
  margin-right: 20px;
  border-radius: 4px;
}

.mentor-name {
  font-size: 30px;
  font-weight: bold;
}

.mentor-role {
  font-size: 20px;
  color: #555;
}

.mentor-skills {
  margin-top: 10px;
  font-size: 20px;
}


.matching-score {
  margin-top: 8px;
  margin-right: 20px; 
  font-size: 20px;
  color: #777;
  text-align: center;
}

.matching-score-number {
  font-size: 50px;
  color: #777;
  text-align: center;
}

.mentor-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mentor-details {
  flex-grow: 1; /* Allow the details to take up remaining space */
  margin-left: 20px; /* Add spacing between image and details */
}

.skill {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 8px;
  margin-top: 8px;
  background-color:  #ffffff;
  color: #2b2b2b;
  border-radius: 20px; /* Adjust the radius for rounded corners */
  font-size: 17px;
  text-align: center;
  white-space: nowrap; /* Prevent line breaks within bubbles */
  border: 1px solid #ccc;
}

.recommedation-container {
  text-align: center;
  font-size: 40px;
}

.star-icon {
  width: 45px; /* Adjust the width as needed */
  height: 45px; /* Adjust the height as needed */
  margin-right: 5px; /* Add spacing between the star and the score */
}

.mentor-container:hover {
  cursor: pointer;
  transform: scale(1.05); /* Increase the scale to make it grow slightly */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.top-bar {
  background-color: #f5f5f5;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.back-button {
  cursor: pointer;
}

.app-name {
  font-weight: bold;
  font-size: 18px;
  flex-grow: 1; /* Allow the app name to take up the remaining space */
  text-align: center; /* Center the text within the space */
}